.env

.venv/
venv
env

__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/

models/

test/

data/admin/read_only_settings.txt

backup_data/

# user data — не хранить в git
data/raw/
data/group_photos/
data/learning/
data/chroma_db/

plans.txt
Project_RoadMap

Thumbs.db
desktop.ini
